* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 10px double darkblue;
  width: 400px;
  padding: 1.5rem 2rem;
}

.container {
  border: 5px outset orchid;
  font-size: 1.5rem;
  margin: 1.5rem 2rem 1.5rem 2rem;

  /*  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem; */

  padding: 1.5rem 2rem 1.5rem 2rem;
  outline: 4px solid slateblue;
  outline-offset: 4px;
}

.circle {
  margin: 3rem auto;
  background-color: aqua;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50px;
  outline: 3px solid magenta;
  outline-offset: 0.4rem;
}
