* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

p {
  background-color: darkslateblue;
}

.opposite {
  display: inline-block;
  background-color: #332;
  color: whitesmoke;
  margin-top: 3rem;
  height: 100px;
  padding: 2rem;
}
