body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

p {
  background-color: darkslateblue;
}

.opposite {
  display: block;
  background-color: #332;
  color: whitesmoke;
  padding: 2rem;
}
