body {
  padding: 15%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: indigo;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: hsl(225, 41%, 59%);
}

a:visited {
  color: purple;
}

a:hover,
a:focus {
  color: hsl(225, 41%, 59%, 0.75);
  background: darkgray;
}

a:active {
  color: red;
}
