body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: square;
  color: darkblue;
  /*list-style-image: url("../");
    list-style: square url("../");
    text-align: center;
    inside
  */
  line-height: 1.5;
}
