h1 {
  color: slateblue;
}

body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: cornsilk;
  color: rgb(20, 110, 30);
}

p {
  color: rgba(175, 30, 15, 0.4);
}
